<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>High</td><td>ZA_1_PDP_BuyNow_shippingPage_applyCoupon_OTC_ONLINE.shippingPage_applyCoupon_OTC_payOnline()[pri:0, instance:com.web.Medicine.ZA_1_PDP_BuyNow_shippingPage_applyCoupon_OTC_ONLINE@3b81a1bc]<br/></td></tr>
<tr><td>MED</td><td>ZA_1_PDP_BuyNow_shippingPage_applyCoupon_OTC_ONLINE.shippingPage_applyCoupon_OTC_payOnline()[pri:0, instance:com.web.Medicine.ZA_1_PDP_BuyNow_shippingPage_applyCoupon_OTC_ONLINE@3b81a1bc]<br/></td></tr>
</table>
