<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bc7afb">  <td>19/09/04 10:03:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ZA_1_PDP_BuyNow_shippingPage_applyCoupon_OTC_ONLINE.setUp()[pri:0, instance:com.web.Medicine.ZA_1_PDP_BuyNow_shippingPage_applyCoupon_OTC_ONLINE@3b81a1bc]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1638172114</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/09/04 10:03:33</td>   <td>13923</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ZA_1_PDP_BuyNow_shippingPage_applyCoupon_OTC_ONLINE.shippingPage_applyCoupon_OTC_payOnline()[pri:0, instance:com.web.Medicine.ZA_1_PDP_BuyNow_shippingPage_applyCoupon_OTC_ONLINE@3b81a1bc]">shippingPage_applyCoupon_OTC_payOnline</td> 
  <td>main@1638172114</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/09/04 10:05:08</td>   <td>108994</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ZA_1_PDP_BuyNow_shippingPage_applyCoupon_OTC_ONLINE.tearDown()[pri:0, instance:com.web.Medicine.ZA_1_PDP_BuyNow_shippingPage_applyCoupon_OTC_ONLINE@3b81a1bc]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1638172114</td>   <td></td> </tr>
</table>
