<h2>Reporter output</h2><table><tr><td>Opened URL=https://uat.zoylo.com/login</td></tr>
<tr><td>Clicked on the Element=//button[@class='No thanks']</td></tr>
<tr><td>Text Entered=9966775890</td></tr>
<tr><td>Text Entered=Zoylo@123</td></tr>
<tr><td>Clicked on the Element=//button[@type='submit']</td></tr>
<tr><td>Opened URL=https://uat.zoylo.com/medicines/</td></tr>
<tr><td>Text Entered=AMBROSIA CAP</td></tr>
<tr><td>Clicked on the Element=//a[@class='title' and contains(., 'AMBROSIA CAP')]</td></tr>
<tr><td>Clicked on the Element=//div[@class='actions']/div/button[@title='Buy']</td></tr>
<tr><td>scrolled to //span[text()='Checkout']</td></tr>
<tr><td>Clicked on the Element=//span[text()='Checkout']</td></tr>
<tr><td>Text Entered=Healthcare product online order OL.</td></tr>
<tr><td>Clicked on the Element=(//input[@value='paylater'])[2]</td></tr>
<tr><td>scrolled to //button[@data-role='opc-continue']/span[text()='Place Order']</td></tr>
<tr><td>Clicked on the Element=//button[@data-role='opc-continue']/span[text()='Place Order']</td></tr>
</table>